.mgt-0 {
  margin-top: 0!important;
}

.mgb-0 {
  margin-bottom: 0!important;
}

.mgl-0 {
  margin-left: 0!important;
}

.mgr-0 {
  margin-right: 0!important;
}

.pdt-0 {
  padding-top: 0!important;
}

.pdb-0 {
  padding-bottom: 0!important;
}

.pdl-0 {
  padding-left: 0!important;
}

.pdr-0 {
  padding-right: 0!important;
}

.wd-0 {
  width: 0!important;
}

.mgt-1 {
  margin-top: 1px !important;
}

.mgb-1 {
  margin-bottom: 1px !important;
}

.mgl-1 {
  margin-left: 1px !important;
}

.mgr-1 {
  margin-right: 1px !important;
}

.pdt-1 {
  padding-top: 1px !important;
}

.pdb-1 {
  padding-bottom: 1px !important;
}

.pdl-1 {
  padding-left: 1px !important;
}

.pdr-1 {
  padding-right: 1px !important;
}

.wd-1 {
  width: 1px !important;
}

.mgt-2 {
  margin-top: 2px !important;
}

.mgb-2 {
  margin-bottom: 2px !important;
}

.mgl-2 {
  margin-left: 2px !important;
}

.mgr-2 {
  margin-right: 2px !important;
}

.pdt-2 {
  padding-top: 2px !important;
}

.pdb-2 {
  padding-bottom: 2px !important;
}

.pdl-2 {
  padding-left: 2px !important;
}

.pdr-2 {
  padding-right: 2px !important;
}

.wd-2 {
  width: 2px !important;
}

.mgt-3 {
  margin-top: 3px !important;
}

.mgb-3 {
  margin-bottom: 3px !important;
}

.mgl-3 {
  margin-left: 3px !important;
}

.mgr-3 {
  margin-right: 3px !important;
}

.pdt-3 {
  padding-top: 3px !important;
}

.pdb-3 {
  padding-bottom: 3px !important;
}

.pdl-3 {
  padding-left: 3px !important;
}

.pdr-3 {
  padding-right: 3px !important;
}

.wd-3 {
  width: 3px !important;
}

.mgt-4 {
  margin-top: 4px !important;
}

.mgb-4 {
  margin-bottom: 4px !important;
}

.mgl-4 {
  margin-left: 4px !important;
}

.mgr-4 {
  margin-right: 4px !important;
}

.pdt-4 {
  padding-top: 4px !important;
}

.pdb-4 {
  padding-bottom: 4px !important;
}

.pdl-4 {
  padding-left: 4px !important;
}

.pdr-4 {
  padding-right: 4px !important;
}

.wd-4 {
  width: 4px !important;
}

.mgt-5 {
  margin-top: 5px !important;
}

.mgb-5 {
  margin-bottom: 5px !important;
}

.mgl-5 {
  margin-left: 5px !important;
}

.mgr-5 {
  margin-right: 5px !important;
}

.pdt-5 {
  padding-top: 5px !important;
}

.pdb-5 {
  padding-bottom: 5px !important;
}

.pdl-5 {
  padding-left: 5px !important;
}

.pdr-5 {
  padding-right: 5px !important;
}

.wd-5 {
  width: 5px !important;
}

.mgt-6 {
  margin-top: 6px !important;
}

.mgb-6 {
  margin-bottom: 6px !important;
}

.mgl-6 {
  margin-left: 6px !important;
}

.mgr-6 {
  margin-right: 6px !important;
}

.pdt-6 {
  padding-top: 6px !important;
}

.pdb-6 {
  padding-bottom: 6px !important;
}

.pdl-6 {
  padding-left: 6px !important;
}

.pdr-6 {
  padding-right: 6px !important;
}

.wd-6 {
  width: 6px !important;
}

.mgt-7 {
  margin-top: 7px !important;
}

.mgb-7 {
  margin-bottom: 7px !important;
}

.mgl-7 {
  margin-left: 7px !important;
}

.mgr-7 {
  margin-right: 7px !important;
}

.pdt-7 {
  padding-top: 7px !important;
}

.pdb-7 {
  padding-bottom: 7px !important;
}

.pdl-7 {
  padding-left: 7px !important;
}

.pdr-7 {
  padding-right: 7px !important;
}

.wd-7 {
  width: 7px !important;
}

.mgt-8 {
  margin-top: 8px !important;
}

.mgb-8 {
  margin-bottom: 8px !important;
}

.mgl-8 {
  margin-left: 8px !important;
}

.mgr-8 {
  margin-right: 8px !important;
}

.pdt-8 {
  padding-top: 8px !important;
}

.pdb-8 {
  padding-bottom: 8px !important;
}

.pdl-8 {
  padding-left: 8px !important;
}

.pdr-8 {
  padding-right: 8px !important;
}

.wd-8 {
  width: 8px !important;
}

.mgt-9 {
  margin-top: 9px !important;
}

.mgb-9 {
  margin-bottom: 9px !important;
}

.mgl-9 {
  margin-left: 9px !important;
}

.mgr-9 {
  margin-right: 9px !important;
}

.pdt-9 {
  padding-top: 9px !important;
}

.pdb-9 {
  padding-bottom: 9px !important;
}

.pdl-9 {
  padding-left: 9px !important;
}

.pdr-9 {
  padding-right: 9px !important;
}

.wd-9 {
  width: 9px !important;
}

.mgt-10 {
  margin-top: 10px !important;
}

.mgb-10 {
  margin-bottom: 10px !important;
}

.mgl-10 {
  margin-left: 10px !important;
}

.mgr-10 {
  margin-right: 10px !important;
}

.pdt-10 {
  padding-top: 10px !important;
}

.pdb-10 {
  padding-bottom: 10px !important;
}

.pdl-10 {
  padding-left: 10px !important;
}

.pdr-10 {
  padding-right: 10px !important;
}

.wd-10 {
  width: 10px !important;
}

.mgt-11 {
  margin-top: 11px !important;
}

.mgb-11 {
  margin-bottom: 11px !important;
}

.mgl-11 {
  margin-left: 11px !important;
}

.mgr-11 {
  margin-right: 11px !important;
}

.pdt-11 {
  padding-top: 11px !important;
}

.pdb-11 {
  padding-bottom: 11px !important;
}

.pdl-11 {
  padding-left: 11px !important;
}

.pdr-11 {
  padding-right: 11px !important;
}

.wd-11 {
  width: 11px !important;
}

.mgt-12 {
  margin-top: 12px !important;
}

.mgb-12 {
  margin-bottom: 12px !important;
}

.mgl-12 {
  margin-left: 12px !important;
}

.mgr-12 {
  margin-right: 12px !important;
}

.pdt-12 {
  padding-top: 12px !important;
}

.pdb-12 {
  padding-bottom: 12px !important;
}

.pdl-12 {
  padding-left: 12px !important;
}

.pdr-12 {
  padding-right: 12px !important;
}

.wd-12 {
  width: 12px !important;
}

.mgt-13 {
  margin-top: 13px !important;
}

.mgb-13 {
  margin-bottom: 13px !important;
}

.mgl-13 {
  margin-left: 13px !important;
}

.mgr-13 {
  margin-right: 13px !important;
}

.pdt-13 {
  padding-top: 13px !important;
}

.pdb-13 {
  padding-bottom: 13px !important;
}

.pdl-13 {
  padding-left: 13px !important;
}

.pdr-13 {
  padding-right: 13px !important;
}

.wd-13 {
  width: 13px !important;
}

.mgt-14 {
  margin-top: 14px !important;
}

.mgb-14 {
  margin-bottom: 14px !important;
}

.mgl-14 {
  margin-left: 14px !important;
}

.mgr-14 {
  margin-right: 14px !important;
}

.pdt-14 {
  padding-top: 14px !important;
}

.pdb-14 {
  padding-bottom: 14px !important;
}

.pdl-14 {
  padding-left: 14px !important;
}

.pdr-14 {
  padding-right: 14px !important;
}

.wd-14 {
  width: 14px !important;
}

.mgt-15 {
  margin-top: 15px !important;
}

.mgb-15 {
  margin-bottom: 15px !important;
}

.mgl-15 {
  margin-left: 15px !important;
}

.mgr-15 {
  margin-right: 15px !important;
}

.pdt-15 {
  padding-top: 15px !important;
}

.pdb-15 {
  padding-bottom: 15px !important;
}

.pdl-15 {
  padding-left: 15px !important;
}

.pdr-15 {
  padding-right: 15px !important;
}

.wd-15 {
  width: 15px !important;
}

.mgt-16 {
  margin-top: 16px !important;
}

.mgb-16 {
  margin-bottom: 16px !important;
}

.mgl-16 {
  margin-left: 16px !important;
}

.mgr-16 {
  margin-right: 16px !important;
}

.pdt-16 {
  padding-top: 16px !important;
}

.pdb-16 {
  padding-bottom: 16px !important;
}

.pdl-16 {
  padding-left: 16px !important;
}

.pdr-16 {
  padding-right: 16px !important;
}

.wd-16 {
  width: 16px !important;
}

.mgt-17 {
  margin-top: 17px !important;
}

.mgb-17 {
  margin-bottom: 17px !important;
}

.mgl-17 {
  margin-left: 17px !important;
}

.mgr-17 {
  margin-right: 17px !important;
}

.pdt-17 {
  padding-top: 17px !important;
}

.pdb-17 {
  padding-bottom: 17px !important;
}

.pdl-17 {
  padding-left: 17px !important;
}

.pdr-17 {
  padding-right: 17px !important;
}

.wd-17 {
  width: 17px !important;
}

.mgt-18 {
  margin-top: 18px !important;
}

.mgb-18 {
  margin-bottom: 18px !important;
}

.mgl-18 {
  margin-left: 18px !important;
}

.mgr-18 {
  margin-right: 18px !important;
}

.pdt-18 {
  padding-top: 18px !important;
}

.pdb-18 {
  padding-bottom: 18px !important;
}

.pdl-18 {
  padding-left: 18px !important;
}

.pdr-18 {
  padding-right: 18px !important;
}

.wd-18 {
  width: 18px !important;
}

.mgt-19 {
  margin-top: 19px !important;
}

.mgb-19 {
  margin-bottom: 19px !important;
}

.mgl-19 {
  margin-left: 19px !important;
}

.mgr-19 {
  margin-right: 19px !important;
}

.pdt-19 {
  padding-top: 19px !important;
}

.pdb-19 {
  padding-bottom: 19px !important;
}

.pdl-19 {
  padding-left: 19px !important;
}

.pdr-19 {
  padding-right: 19px !important;
}

.wd-19 {
  width: 19px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.mgl-20 {
  margin-left: 20px !important;
}

.mgr-20 {
  margin-right: 20px !important;
}

.pdt-20 {
  padding-top: 20px !important;
}

.pdb-20 {
  padding-bottom: 20px !important;
}

.pdl-20 {
  padding-left: 20px !important;
}

.pdr-20 {
  padding-right: 20px !important;
}

.wd-20 {
  width: 20px !important;
}

.mgt-21 {
  margin-top: 21px !important;
}

.mgb-21 {
  margin-bottom: 21px !important;
}

.mgl-21 {
  margin-left: 21px !important;
}

.mgr-21 {
  margin-right: 21px !important;
}

.pdt-21 {
  padding-top: 21px !important;
}

.pdb-21 {
  padding-bottom: 21px !important;
}

.pdl-21 {
  padding-left: 21px !important;
}

.pdr-21 {
  padding-right: 21px !important;
}

.wd-21 {
  width: 21px !important;
}

.mgt-22 {
  margin-top: 22px !important;
}

.mgb-22 {
  margin-bottom: 22px !important;
}

.mgl-22 {
  margin-left: 22px !important;
}

.mgr-22 {
  margin-right: 22px !important;
}

.pdt-22 {
  padding-top: 22px !important;
}

.pdb-22 {
  padding-bottom: 22px !important;
}

.pdl-22 {
  padding-left: 22px !important;
}

.pdr-22 {
  padding-right: 22px !important;
}

.wd-22 {
  width: 22px !important;
}

.mgt-23 {
  margin-top: 23px !important;
}

.mgb-23 {
  margin-bottom: 23px !important;
}

.mgl-23 {
  margin-left: 23px !important;
}

.mgr-23 {
  margin-right: 23px !important;
}

.pdt-23 {
  padding-top: 23px !important;
}

.pdb-23 {
  padding-bottom: 23px !important;
}

.pdl-23 {
  padding-left: 23px !important;
}

.pdr-23 {
  padding-right: 23px !important;
}

.wd-23 {
  width: 23px !important;
}

.mgt-24 {
  margin-top: 24px !important;
}

.mgb-24 {
  margin-bottom: 24px !important;
}

.mgl-24 {
  margin-left: 24px !important;
}

.mgr-24 {
  margin-right: 24px !important;
}

.pdt-24 {
  padding-top: 24px !important;
}

.pdb-24 {
  padding-bottom: 24px !important;
}

.pdl-24 {
  padding-left: 24px !important;
}

.pdr-24 {
  padding-right: 24px !important;
}

.wd-24 {
  width: 24px !important;
}

.mgt-25 {
  margin-top: 25px !important;
}

.mgb-25 {
  margin-bottom: 25px !important;
}

.mgl-25 {
  margin-left: 25px !important;
}

.mgr-25 {
  margin-right: 25px !important;
}

.pdt-25 {
  padding-top: 25px !important;
}

.pdb-25 {
  padding-bottom: 25px !important;
}

.pdl-25 {
  padding-left: 25px !important;
}

.pdr-25 {
  padding-right: 25px !important;
}

.wd-25 {
  width: 25px !important;
}

.mgt-26 {
  margin-top: 26px !important;
}

.mgb-26 {
  margin-bottom: 26px !important;
}

.mgl-26 {
  margin-left: 26px !important;
}

.mgr-26 {
  margin-right: 26px !important;
}

.pdt-26 {
  padding-top: 26px !important;
}

.pdb-26 {
  padding-bottom: 26px !important;
}

.pdl-26 {
  padding-left: 26px !important;
}

.pdr-26 {
  padding-right: 26px !important;
}

.wd-26 {
  width: 26px !important;
}

.mgt-27 {
  margin-top: 27px !important;
}

.mgb-27 {
  margin-bottom: 27px !important;
}

.mgl-27 {
  margin-left: 27px !important;
}

.mgr-27 {
  margin-right: 27px !important;
}

.pdt-27 {
  padding-top: 27px !important;
}

.pdb-27 {
  padding-bottom: 27px !important;
}

.pdl-27 {
  padding-left: 27px !important;
}

.pdr-27 {
  padding-right: 27px !important;
}

.wd-27 {
  width: 27px !important;
}

.mgt-28 {
  margin-top: 28px !important;
}

.mgb-28 {
  margin-bottom: 28px !important;
}

.mgl-28 {
  margin-left: 28px !important;
}

.mgr-28 {
  margin-right: 28px !important;
}

.pdt-28 {
  padding-top: 28px !important;
}

.pdb-28 {
  padding-bottom: 28px !important;
}

.pdl-28 {
  padding-left: 28px !important;
}

.pdr-28 {
  padding-right: 28px !important;
}

.wd-28 {
  width: 28px !important;
}

.mgt-29 {
  margin-top: 29px !important;
}

.mgb-29 {
  margin-bottom: 29px !important;
}

.mgl-29 {
  margin-left: 29px !important;
}

.mgr-29 {
  margin-right: 29px !important;
}

.pdt-29 {
  padding-top: 29px !important;
}

.pdb-29 {
  padding-bottom: 29px !important;
}

.pdl-29 {
  padding-left: 29px !important;
}

.pdr-29 {
  padding-right: 29px !important;
}

.wd-29 {
  width: 29px !important;
}

.mgt-30 {
  margin-top: 30px !important;
}

.mgb-30 {
  margin-bottom: 30px !important;
}

.mgl-30 {
  margin-left: 30px !important;
}

.mgr-30 {
  margin-right: 30px !important;
}

.pdt-30 {
  padding-top: 30px !important;
}

.pdb-30 {
  padding-bottom: 30px !important;
}

.pdl-30 {
  padding-left: 30px !important;
}

.pdr-30 {
  padding-right: 30px !important;
}

.wd-30 {
  width: 30px !important;
}

.mgt-31 {
  margin-top: 31px !important;
}

.mgb-31 {
  margin-bottom: 31px !important;
}

.mgl-31 {
  margin-left: 31px !important;
}

.mgr-31 {
  margin-right: 31px !important;
}

.pdt-31 {
  padding-top: 31px !important;
}

.pdb-31 {
  padding-bottom: 31px !important;
}

.pdl-31 {
  padding-left: 31px !important;
}

.pdr-31 {
  padding-right: 31px !important;
}

.wd-31 {
  width: 31px !important;
}

.mgt-32 {
  margin-top: 32px !important;
}

.mgb-32 {
  margin-bottom: 32px !important;
}

.mgl-32 {
  margin-left: 32px !important;
}

.mgr-32 {
  margin-right: 32px !important;
}

.pdt-32 {
  padding-top: 32px !important;
}

.pdb-32 {
  padding-bottom: 32px !important;
}

.pdl-32 {
  padding-left: 32px !important;
}

.pdr-32 {
  padding-right: 32px !important;
}

.wd-32 {
  width: 32px !important;
}

.mgt-33 {
  margin-top: 33px !important;
}

.mgb-33 {
  margin-bottom: 33px !important;
}

.mgl-33 {
  margin-left: 33px !important;
}

.mgr-33 {
  margin-right: 33px !important;
}

.pdt-33 {
  padding-top: 33px !important;
}

.pdb-33 {
  padding-bottom: 33px !important;
}

.pdl-33 {
  padding-left: 33px !important;
}

.pdr-33 {
  padding-right: 33px !important;
}

.wd-33 {
  width: 33px !important;
}

.mgt-34 {
  margin-top: 34px !important;
}

.mgb-34 {
  margin-bottom: 34px !important;
}

.mgl-34 {
  margin-left: 34px !important;
}

.mgr-34 {
  margin-right: 34px !important;
}

.pdt-34 {
  padding-top: 34px !important;
}

.pdb-34 {
  padding-bottom: 34px !important;
}

.pdl-34 {
  padding-left: 34px !important;
}

.pdr-34 {
  padding-right: 34px !important;
}

.wd-34 {
  width: 34px !important;
}

.mgt-35 {
  margin-top: 35px !important;
}

.mgb-35 {
  margin-bottom: 35px !important;
}

.mgl-35 {
  margin-left: 35px !important;
}

.mgr-35 {
  margin-right: 35px !important;
}

.pdt-35 {
  padding-top: 35px !important;
}

.pdb-35 {
  padding-bottom: 35px !important;
}

.pdl-35 {
  padding-left: 35px !important;
}

.pdr-35 {
  padding-right: 35px !important;
}

.wd-35 {
  width: 35px !important;
}

.mgt-36 {
  margin-top: 36px !important;
}

.mgb-36 {
  margin-bottom: 36px !important;
}

.mgl-36 {
  margin-left: 36px !important;
}

.mgr-36 {
  margin-right: 36px !important;
}

.pdt-36 {
  padding-top: 36px !important;
}

.pdb-36 {
  padding-bottom: 36px !important;
}

.pdl-36 {
  padding-left: 36px !important;
}

.pdr-36 {
  padding-right: 36px !important;
}

.wd-36 {
  width: 36px !important;
}

.mgt-37 {
  margin-top: 37px !important;
}

.mgb-37 {
  margin-bottom: 37px !important;
}

.mgl-37 {
  margin-left: 37px !important;
}

.mgr-37 {
  margin-right: 37px !important;
}

.pdt-37 {
  padding-top: 37px !important;
}

.pdb-37 {
  padding-bottom: 37px !important;
}

.pdl-37 {
  padding-left: 37px !important;
}

.pdr-37 {
  padding-right: 37px !important;
}

.wd-37 {
  width: 37px !important;
}

.mgt-38 {
  margin-top: 38px !important;
}

.mgb-38 {
  margin-bottom: 38px !important;
}

.mgl-38 {
  margin-left: 38px !important;
}

.mgr-38 {
  margin-right: 38px !important;
}

.pdt-38 {
  padding-top: 38px !important;
}

.pdb-38 {
  padding-bottom: 38px !important;
}

.pdl-38 {
  padding-left: 38px !important;
}

.pdr-38 {
  padding-right: 38px !important;
}

.wd-38 {
  width: 38px !important;
}

.mgt-39 {
  margin-top: 39px !important;
}

.mgb-39 {
  margin-bottom: 39px !important;
}

.mgl-39 {
  margin-left: 39px !important;
}

.mgr-39 {
  margin-right: 39px !important;
}

.pdt-39 {
  padding-top: 39px !important;
}

.pdb-39 {
  padding-bottom: 39px !important;
}

.pdl-39 {
  padding-left: 39px !important;
}

.pdr-39 {
  padding-right: 39px !important;
}

.wd-39 {
  width: 39px !important;
}

.mgt-40 {
  margin-top: 40px !important;
}

.mgb-40 {
  margin-bottom: 40px !important;
}

.mgl-40 {
  margin-left: 40px !important;
}

.mgr-40 {
  margin-right: 40px !important;
}

.pdt-40 {
  padding-top: 40px !important;
}

.pdb-40 {
  padding-bottom: 40px !important;
}

.pdl-40 {
  padding-left: 40px !important;
}

.pdr-40 {
  padding-right: 40px !important;
}

.wd-40 {
  width: 40px !important;
}

.mgt-41 {
  margin-top: 41px !important;
}

.mgb-41 {
  margin-bottom: 41px !important;
}

.mgl-41 {
  margin-left: 41px !important;
}

.mgr-41 {
  margin-right: 41px !important;
}

.pdt-41 {
  padding-top: 41px !important;
}

.pdb-41 {
  padding-bottom: 41px !important;
}

.pdl-41 {
  padding-left: 41px !important;
}

.pdr-41 {
  padding-right: 41px !important;
}

.wd-41 {
  width: 41px !important;
}

.mgt-42 {
  margin-top: 42px !important;
}

.mgb-42 {
  margin-bottom: 42px !important;
}

.mgl-42 {
  margin-left: 42px !important;
}

.mgr-42 {
  margin-right: 42px !important;
}

.pdt-42 {
  padding-top: 42px !important;
}

.pdb-42 {
  padding-bottom: 42px !important;
}

.pdl-42 {
  padding-left: 42px !important;
}

.pdr-42 {
  padding-right: 42px !important;
}

.wd-42 {
  width: 42px !important;
}

.mgt-43 {
  margin-top: 43px !important;
}

.mgb-43 {
  margin-bottom: 43px !important;
}

.mgl-43 {
  margin-left: 43px !important;
}

.mgr-43 {
  margin-right: 43px !important;
}

.pdt-43 {
  padding-top: 43px !important;
}

.pdb-43 {
  padding-bottom: 43px !important;
}

.pdl-43 {
  padding-left: 43px !important;
}

.pdr-43 {
  padding-right: 43px !important;
}

.wd-43 {
  width: 43px !important;
}

.mgt-44 {
  margin-top: 44px !important;
}

.mgb-44 {
  margin-bottom: 44px !important;
}

.mgl-44 {
  margin-left: 44px !important;
}

.mgr-44 {
  margin-right: 44px !important;
}

.pdt-44 {
  padding-top: 44px !important;
}

.pdb-44 {
  padding-bottom: 44px !important;
}

.pdl-44 {
  padding-left: 44px !important;
}

.pdr-44 {
  padding-right: 44px !important;
}

.wd-44 {
  width: 44px !important;
}

.mgt-45 {
  margin-top: 45px !important;
}

.mgb-45 {
  margin-bottom: 45px !important;
}

.mgl-45 {
  margin-left: 45px !important;
}

.mgr-45 {
  margin-right: 45px !important;
}

.pdt-45 {
  padding-top: 45px !important;
}

.pdb-45 {
  padding-bottom: 45px !important;
}

.pdl-45 {
  padding-left: 45px !important;
}

.pdr-45 {
  padding-right: 45px !important;
}

.wd-45 {
  width: 45px !important;
}

.mgt-46 {
  margin-top: 46px !important;
}

.mgb-46 {
  margin-bottom: 46px !important;
}

.mgl-46 {
  margin-left: 46px !important;
}

.mgr-46 {
  margin-right: 46px !important;
}

.pdt-46 {
  padding-top: 46px !important;
}

.pdb-46 {
  padding-bottom: 46px !important;
}

.pdl-46 {
  padding-left: 46px !important;
}

.pdr-46 {
  padding-right: 46px !important;
}

.wd-46 {
  width: 46px !important;
}

.mgt-47 {
  margin-top: 47px !important;
}

.mgb-47 {
  margin-bottom: 47px !important;
}

.mgl-47 {
  margin-left: 47px !important;
}

.mgr-47 {
  margin-right: 47px !important;
}

.pdt-47 {
  padding-top: 47px !important;
}

.pdb-47 {
  padding-bottom: 47px !important;
}

.pdl-47 {
  padding-left: 47px !important;
}

.pdr-47 {
  padding-right: 47px !important;
}

.wd-47 {
  width: 47px !important;
}

.mgt-48 {
  margin-top: 48px !important;
}

.mgb-48 {
  margin-bottom: 48px !important;
}

.mgl-48 {
  margin-left: 48px !important;
}

.mgr-48 {
  margin-right: 48px !important;
}

.pdt-48 {
  padding-top: 48px !important;
}

.pdb-48 {
  padding-bottom: 48px !important;
}

.pdl-48 {
  padding-left: 48px !important;
}

.pdr-48 {
  padding-right: 48px !important;
}

.wd-48 {
  width: 48px !important;
}

.mgt-49 {
  margin-top: 49px !important;
}

.mgb-49 {
  margin-bottom: 49px !important;
}

.mgl-49 {
  margin-left: 49px !important;
}

.mgr-49 {
  margin-right: 49px !important;
}

.pdt-49 {
  padding-top: 49px !important;
}

.pdb-49 {
  padding-bottom: 49px !important;
}

.pdl-49 {
  padding-left: 49px !important;
}

.pdr-49 {
  padding-right: 49px !important;
}

.wd-49 {
  width: 49px !important;
}

.mgt-50 {
  margin-top: 50px !important;
}

.mgb-50 {
  margin-bottom: 50px !important;
}

.mgl-50 {
  margin-left: 50px !important;
}

.mgr-50 {
  margin-right: 50px !important;
}

.pdt-50 {
  padding-top: 50px !important;
}

.pdb-50 {
  padding-bottom: 50px !important;
}

.pdl-50 {
  padding-left: 50px !important;
}

.pdr-50 {
  padding-right: 50px !important;
}

.wd-50 {
  width: 50px !important;
}

.mgt-51 {
  margin-top: 51px !important;
}

.mgb-51 {
  margin-bottom: 51px !important;
}

.mgl-51 {
  margin-left: 51px !important;
}

.mgr-51 {
  margin-right: 51px !important;
}

.pdt-51 {
  padding-top: 51px !important;
}

.pdb-51 {
  padding-bottom: 51px !important;
}

.pdl-51 {
  padding-left: 51px !important;
}

.pdr-51 {
  padding-right: 51px !important;
}

.wd-51 {
  width: 51px !important;
}

.mgt-52 {
  margin-top: 52px !important;
}

.mgb-52 {
  margin-bottom: 52px !important;
}

.mgl-52 {
  margin-left: 52px !important;
}

.mgr-52 {
  margin-right: 52px !important;
}

.pdt-52 {
  padding-top: 52px !important;
}

.pdb-52 {
  padding-bottom: 52px !important;
}

.pdl-52 {
  padding-left: 52px !important;
}

.pdr-52 {
  padding-right: 52px !important;
}

.wd-52 {
  width: 52px !important;
}

/*sub page container*/
#skip {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
#skip a {
  overflow: hidden;
  display: block;
  height: 1px;
  width: 1px;
  margin-top: -1px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
#skip a:focus, #skip a:active {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f47322;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

header {
  width: 100%;
  z-index: 100;
}

nav {
  position: relative;
}

aside {
  z-index: 210;
  position: fixed;
  top: 60px;
  left: 0;
  width: 198px;
  height: 100vh;
}
aside + .sub-container {
  margin: 80px 0 0 198px;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 58px;
  background-color: #64646e;
  text-align: center;
  background-image: url("../images/common/mws-header-bg.png");
  background-repeat: repeat-x;
  border-bottom: 4px solid;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  left: 0;
  right: 0;
  border-color: #eff2d3;
}

#logo-wrap .logo {
  position: absolute;
  top: 0;
  left: 60px;
  display: block;
  width: 75px;
  height: 54px;
  background: url("../images/common/logo.png") 50% 50% no-repeat;
  background-size: 75px 54px;
}

/*gnb*/
#gnb {
  position: relative;
}
#gnb .gnb-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #fff;
  padding: 7px 12px;
}

.aside-lnb {
  height: 100vh;
  overflow-y: auto;
  background-color: #64646e;
  background-image: url("../images/common/mws-dark-bg.png");
}
.aside-lnb .lnb > li {
  background: url("../images/common/mws-nav-ruler.png") repeat-x left bottom;
}
.aside-lnb .lnb > li:last-child {
  border-bottom: 0;
}
.aside-lnb .lnb .lnb-dep-1 button {
  position: relative;
  width: 100%;
  padding: 11px 0 11px 47px;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}
.aside-lnb .lnb .lnb-dep-1 button:focus, .aside-lnb .lnb .lnb-dep-1 button:active {
  outline: none;
}
.aside-lnb .lnb .lnb-dep-1 button:after {
  position: absolute;
  content: "";
  top: 7px;
  left: 15px;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("../images/common/folder.png");
}
.aside-lnb .lnb .lnb-dep-2 {
  background-image: url("../images/common/mws-inset.png");
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}
.aside-lnb .lnb .lnb-dep-2 > li {
  position: relative;
}
.aside-lnb .lnb .lnb-dep-2 > li:hover {
  background-color: #333333;
}
.aside-lnb .lnb .lnb-dep-2 > li:first-child > a {
  margin-top: 0;
}
.aside-lnb .lnb .lnb-dep-2 > li > a {
  display: block;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 0 5px 50px;
  line-height: 1.43;
}
.aside-lnb .lnb .lnb-dep-2 > li > a:before {
  position: absolute;
  top: 2px;
  left: 18px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/common/list.png");
}
.aside-lnb .lnb > li:first-child .lnb-dep-1 {
  padding-top: 0;
}

.header-navbar {
  min-width: 1400px !important;
}

/*# sourceMappingURL=navigations.css.map */
