
.wrapper {
  position: relative;
  overflow-x: hidden;

  #contents {
    overflow-x: hidden;
    width: 100%;
  }
}


.sub-container {
  min-width: 910px;
  padding: 16px 30px 200px 30px;
  background-color: #f8f9fb;
  position: relative;

  .inner {
    position: relative;
    max-width: 1196px;
    margin: 0 auto;
  }

  .sub-description {
    color: #3a3a3a;
    font-size: 14px;
  }
}




.container {
  position: relative;
  max-width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
}

.content-header{
  overflow: hidden;
}

.contents-wrap {
  margin-left: 280px;
}

.contents {
  width: 100%;
  min-width: 1400px;
  max-width: 1640px;
  //margin: 0 auto;
  padding: 112px 24px 20px;
}

// ksj - card width + transition : header-navbar 와 통일
.card.tb-layout {
  width: calc(100vw - 328px);
  min-width: 1352px;
  max-width: 1592px;
  transition-timing-function: ease;
}

.aside-menu {
  z-index: 1031;
  position: absolute;
  display: table-cell;
  height: 100%;
  //overflow: hidden; //jbc
  overflow-x:hidden;//jbc
  overflow-y:auto;//jbc
  background: #262731;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  &.menu-fixed {
    position: fixed;
  }
}

.sub-content {
  margin-left: 15px;
}

.semi-dark-layout .aside-content {
  overflow-y: scroll;
  height: calc(100vh - 150px);
  color: #b4b7bd;
}





/* ================= card custom ================= */
.card {
  //margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
}
.radius-none{
  border-radius: 0;
}
.card-title {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #3a3d44;
}


// ksj - width: 50% layout 에서 좌우 구분선
.col-6.bd-right {
  border-right: 2px solid #f0f0f0;
}
